body{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

section.linktree{
    margin-top: 30px;
}

section.linktree > div > div a{
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 1em;
    display: block;
    width: 40%;
    text-align: center;
    margin: auto;
    letter-spacing: .1em;
}

section.linktree{
    height: 100vh;
}

section.linktree > div.row{
    height: 100%;
}

/* Media Query*/
@media only screen and (max-width: 768px) {

    section.linktree > div > div a{
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

    section.linktree > div > div a{
        width: 80%;
    }
}